*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build/
/.idea/
/.signing/
/gradle/
/gradle/wrapper/

/nativeaudio/build/

/APK
/OT
/.vscode

.kiro/

*.keystore
web_app/
web_app/.git/
web_app/**
web_app/.git
/psysuite.code-workspace
